<md-toolbar md-scroll-shrink ng-if="true">
  <div class="md-toolbar-tools">
    <h3>
      <span>{{vm.title}}</span>
    </h3>
  </div>
</md-toolbar>

<div layout-gt-xs="row" layout-align="space-around center">
  <div flex-gt-xs>
    <h4 style="margin-left:20px;">Start Date</h4>
    <md-datepicker ng-model="vm.startDate" md-placeholder="Enter date"></md-datepicker>
  </div>
  <div flex-gt-xs>
    <h4 style="margin-left:20px;">End Date</h4>
    <md-datepicker ng-model="vm.endDate" md-placeholder="Enter date"></md-datepicker>
  </div>
  <div flex-gt-xs>
    <md-button style="margin:30px;" class="md-raised md-primary" ng-click="vm.getLlamadas(vm.startDate, vm.endDate)">Buscar</md-button>
  </div>
</div>

<md-tabs class="md-accent" md-stretch-tabs="always" md-border-bottom flex layout-fill>
  <md-tab id="tab1" md-active="vm.tab" ng-click="vm.tab = true">
    <md-tab-label>Lista Llamadas</md-tab-label>
    <md-tab-body>
      <md-tab-content flex>
        <md-content class="md-whiteframe-4dp innerTwo" style="" flex>

          <md-list-item ng-repeat="m in vm.llamadas"
                        class="md-3-line" ng-click="vm.selectedItem(m)">
            <img ng-src="app/images/call.png" class="md-avatar" style="margin-top:22px" />
            <div class="md-list-item-text" layout="column">
              <h3><b>Nombre: </b>{{ m.Usuario.Nombre }}</h3>
              <h4><b>Numero Origen:</b>+{{m.Usuario.Telefono.CodPais}} ({{m.Usuario.Telefono.Area}}) {{m.Usuario.Telefono.Numero}}</h4>
              <h4><b>Numero Destino:</b> +{{ m.Telefono.CodPais }} ({{ m.Telefono.Area }}) {{ m.Telefono.Numero }}</h4>
              <h4><b>Inicio:</b> {{ m.InicioLlamada | date:'yyyy-MM-dd HH:mm:ss' }} - <b>Fin:</b> {{ m.FinLlamada | date:'yyyy-MM-dd HH:mm:ss'  }}</h4>

            </div>

            <md-menu class="md-secondary">
              <md-button class="md-icon-button">
                <ng-md-icon icon="menu"></ng-md-icon>
              </md-button>
              <md-menu-content width="4">
                <md-menu-item>
                  <md-button>
                    <ng-md-icon icon="delete">
                    </ng-md-icon>
                    Borrar
                  </md-button>
                </md-menu-item>
              </md-menu-content>
            </md-menu>
          </md-list-item>

          <div layout="column" flex></div>
          <div layout-gt-xs="row" layout-align="space-around center">
            <div flex-gt-xs>
              <h4 style="margin-left:20px;">Costo Llamadas</h4>
            </div>
            <div flex></div>
            <div flex-gt-xs>
              <h4>$ {{vm.total | number : 2}}</h4>
            </div>
          </div>

        </md-content>
      </md-tab-content>
    </md-tab-body>
  </md-tab>
  <md-tab id="tab2" md-active="!vm.tab">
    <md-tab-label>Tarifador</md-tab-label>
    <md-tab-body>
      <md-tab-content flex>
        <md-content class="md-whiteframe-4dp innerTwo" style="" flex>

          <div class="md-list-item-text" layout="column" style="margin:30px;">
            <h3><b>Nombre: </b>{{ vm.llamada.Usuario.Nombre }}</h3>
            <h4><b>Numero Origen:</b>+{{vm.llamada.Usuario.Telefono.CodPais}} ({{vm.llamada.Usuario.Telefono.Area}}) {{vm.llamada.Usuario.Telefono.Numero}}</h4>
            <h4><b>Numero Destino:</b> +{{ vm.llamada.Telefono.CodPais }} ({{ vm.llamada.Telefono.Area }}) {{ vm.llamada.Telefono.Numero }}</h4>
            <h4><b>Inicio:</b> {{ vm.llamada.InicioLlamada | date:'yyyy-MM-dd HH:mm:ss' }} - <b>Fin:</b> {{ vm.llamada.FinLlamada | date:'yyyy-MM-dd HH:mm:ss'  }}</h4>

          </div>

          <div layout="column" flex></div>
          <div layout-gt-xs="row" layout-align="space-around center">
            <div flex-gt-xs>
              <h4 style="margin-left:20px;">Costo Llamadas</h4>
            </div>
            <div flex></div>
            <div flex-gt-xs>
              <h4>$ {{vm.costollamada | number : 2}}</h4>
            </div>
          </div>

        </md-content>
      </md-tab-content>
    </md-tab-body>
  </md-tab>
</md-tabs>

